body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  text-align: center;
  color: #455d7a;

}

h1 {
  font-family: "Roboto Mono", monospace;
}

.container {
padding: 30px;
margin: 0px auto;
border: none;
}

.outerCard {
  margin: 10px 5px;
  padding: 30px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 25px;
}

.cityBackground {
  font-size: 40px;
  color: lightgray;
  margin-top: 30px;
}

.weatherToday {
  font-size: 40px;
  color: #455d7a;
  text-decoration: none;
  list-style: none;
}

.weatherCity {
  color: #455d7a;
  padding-top: 30px;
  text-align: center;
}

.weatherForecast {
  color: #455d7a;
  font-size: 16px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  border: 1px solid;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

.weatherForecast:hover {
  background-color: lightgray;
}

.iconWeather {
  font-size: 16px;
  text-align: center;
}

.search {
display: block;
}

.formControl {
width: 30%;
border: 1px solid;
border-radius: 8px;
padding: 9px;
}

.searchLabel {
  font-size: 14px;
  text-align: center;
  margin: 10px;
  font-family: "Roboto Mono", monospace;
  border-color: #455d7a;
}

.searchButton {
  font-size: 14px;
  text-align: center;
  margin: 10px;
  border:none;
  background-color: #455d7a
}

a, a:visited {
text-decoration: underline;
color: gray;
}

a:hover  {
  text-decoration: none;
  color: lightgray;
}

.footer {
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}
