body {
  font-family: "Poppins", sans-serif;
  background-color: #bcdbdf;
  font-size: 16px;
  text-align: center;
  color: #235784;

}

h1, h5 {
  font-size: 20px;
  color: #f7aa00;
  padding: 15px;
}

.left-container {
  padding: 8px;
}

.container {
padding: 40px;
margin: 0px auto;
border: none;
}

.card {
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.outerCard {
  margin: 10px 5px;
  padding: 30px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 25px;
}

.cityBackground {
  font-size: 40px;
  color: #bcdbdf;
  margin-top: 30px;
}

.weatherToday {
  text-transform:capitalize;
  font-size: 30px;
  line-height: 175%;
  color: #235784;
  text-decoration: none;
  list-style: none;
}

.weatherCity {
  font-size: 40px;
  color: #235784;
  padding-top: 30px;
  text-align: center;
}

.iconWeather {
  color: #235784;
  margin: 7px;
  font-size: 12px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  border: 1px solid;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

.iconWeather {
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.iconWeather:hover {
background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.search {
display: block;
}

.formControl {
width: 30%;
border: 1px solid;
border-radius: 8px;
padding: 9px;
}

.searchLabel {
  font-size: 14px;
  text-align: center;
  margin: 10px;
  font-family: "Roboto Mono", monospace;
  border-color: #235784;
}

.searchButton {
  font-size: 14px;
  text-align: center;
  margin: 10px;
  border:none;
  background-color: #235784;
}

.searchButton:hover {
  background-color: #f7aa00;
}

a, a:visited {
text-decoration: none;
color: #40a8c4;
}

a:hover  {
  text-decoration: none;
  color: #f7aa00;
}

.active {
  border:1px solid #235784;
  padding: 10px;
  border-radius: 25%;

}


.footer {
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
}
